# Archivos auxiliares de LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot

# Temporales / backups
*.bak
*.tmp
*~

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

#PDF
/main.pdf
